/.venv/
**/__pycache__/**
/cache
/models
.pytest_cache
/tmp

# Ignore dynaconf secret files
.secrets.*

# Sphinx documentation WIP
docs

# Local files
.env
settings.local.yaml

# Debug files
debug.py
